body {  
    margin:0; 
    padding:0; 
    padding-top:4px; 
}

#ig-homeview-div {
    height: 36px;
    font: 0.8em arial, sans-serif;
}

#thumb-play-button {
    float:left; 
    height: 32px;
    width: 105px;
    opacity:0.4;
    filter: alpha(opacity = 40);
    
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
}
#thumb-play-button:hover { 
    opacity:1;
    filter: alpha(opacity = 100);
    
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
}

#ig-home-thumb { 
    float:left; 
    width:60px; 
    height:30px; 
    cursor: pointer;
}

img#expand-down {
    display: block;
    height: 36px;
    width: 36px;
    cursor: pointer;
}


#a-ig-home { 
    color:#00C; 
    position:relative; 
    left:12px; 
    top:9px;
    text-decoration:none; 
}

#a-ig-home:hover { 
    text-decoration:underline; 
}
