body {
    margin: 0;
    padding: 10px;
    font-family:Helvetica, Arial, sans-serif;
    font-weight:bold;
    color: #333333;
}
#yt-container {
    text-align: center;
}
#playerContainer {
    width: 500px;
    height: 295px;
    margin: auto;
}
#videos {
    width: 720px;
    height: 360px;
    overflow-y: scroll;
    margin: auto;
}
.titlec {
    font-size: 70%;
    line-height: 80%;
}
ul.videos li {
  float: left;
  width: 170px;
  height: 125px;
  margin-bottom: 1em;
  cursor: pointer;
}
ul.videos
{
    margin-top: 0em;
  margin-bottom: 1em;
  padding-left : 0em;
  margin-left: 0em;
  list-style: none;
}
